{% extends 'base-2.html' %}

{% block title %}Restaurant-info | Restaurant Guide{% endblock %}

  
{% block body %}

    <div id="rest-info" class="row">
        <div class="col-md-7">
            <div class="rest-location review-name">Restaurants in {{rest.location.city}}</div>
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="{{rest.photos[2]}}" class="d-block w-100" height="400">
                  </div>
                  <div class="carousel-item">
                    <img src="{{rest.photos[1]}}" class="d-block w-100" height="400">
                  </div>
                  <div class="carousel-item">
                    <img src="{{rest.photos[0]}}" class="d-block w-100" height="400">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            <div class="detail-name review-name">{{rest.name}}</div>
            <div class="review-name">Phone: {{rest.display_phone}}</div>
            <div class="review-name">Address: {{rest.location.display_address[0]}} {{rest.location.display_address[1]}}</div>
        </div>
    </div> 

    {% if "user_id" in session%}
    <div class = "fav-div">
        <button id = "fav-rest" data-name="{{rest.name}}" data-address1="{{rest.location.display_address[0]}}" 
        data-address2="{{rest.location.display_address[1]}}" data-url="{{rest.image_url}}" data-yelp = "{{yelp_id}}">
        {% if favorited %}
            <i class="fa fa-heart red-heart" style="font-size:24px"></i>
        {%else%}
            <i class="fa fa-heart" style="font-size:24px"></i>
        {% endif%}
        </button>
    </div>
    {% endif %}

    <div id="map" data-lat={{rest.coordinates.latitude}} data-lng={{rest.coordinates.longitude}}></div>

    <div class="row">
        <div class="col-md-6">
            <div> 
                <p class="review-name">What people are saying</p>
            </div>
        </div>
        <div class="col-md-6">
            {% if "user_id" in session%}
            <a href="/review_page/{{yelp_id}}" class="btn btn-danger to-the-right">Leave a review</a>
            {%else%}
                <button class="btn btn-danger to-the-right" id="no-review-button">Leave a review</button>
                </a>
                <script>
                    document.querySelector('#no-review-button').addEventListener('click', ()=>{
                        alert("Please login to leave a review");
                    });
                </script>
            {% endif %}    
        </div>
    </div>
    


    <div id="rest-reviews">
        {%if ratings %}
            {%for rating in ratings%}
                <div class="review-box">  
                    <div class="review-name">{{rating.account.fname}}&nbsp;{{rating.account.lname}}</div>
                    <div>{{rating.title}}</div>
                    {% if rating.score==1 %}
                    <div class="ratings">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    {% elif rating.score==2 %}
                    <div class="ratings">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    {% elif rating.score==3 %}
                    <div class="ratings">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    {% elif rating.score==4 %}
                    <div class="ratings">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    {% else %}
                    <div class="ratings">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </div>
                
                    {% endif %}
                    
                    {% if rating.pic%}
                        <img src="{{rating.pic}}" height="100px" alt="review-pic">
                    {% endif %}
                    <div>{{rating.review}}</div>
                </div>
            {% endfor %}
                
        {% else %}
            <div>No review yet</div>
        {%endif%}
    </div>



{% endblock %}


{% block script %}
    <script src="/static/js/showRestMap.js"></script>
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLe2ZMW3YBJ5SZKO3Hor0TJo_r-z_Kf8E&callback=initMap" async defer>
    </script>
  <script src="/static/js/addFavRest.js"></script>

{% endblock %}
      
   
   


  
