{% extends 'base-2.html' %}
{% block title %}Search Restaurant Online | Restaurant Review App | Restaurant Guide{% endblock %}

{% block body %}
    {% if rests %}
        {% for rest in rests %}
            <div class = "fav-rest-grids">
                {{rest.url}}
                {{rest.name}}
                {{rest.address}}
            </div>
        {% endfor %} 
    {% else %}
        <div class="now-fav"> No restaurant yet. </div>
    {%endif%}


{% endblock %}

{% block after_body%}

{% endblock %}