{% extends 'base-2.html' %}
{% block title %}Search Favorites | Restaurant Guide{% endblock %}

{% block body %}
    {% if rests %}
        <div class="container">
            <div class="row">
            {% for rest in rests %}
                <div class = "col-md-3 fav-rest-grids">
                    <a class="rest-box" href="/rest_details/{{rest.yelp_id}}">
                        <img class="rest-image" src="{{rest.url}}" alt="" width="215px" height="200"><br>
                        {{rest.name}}<br>
                        {{rest.address}}
                    </a>
                    <button class = "del-rest" value = "{{rest.yelp_id}}">
                        <i class="fa fa-heart red-heart" style="font-size:24px"></i>
                    </button><br>
                </div>
            {% endfor %} 
            </div>
        </div>
    {% else %}
        <div class="now-fav"> No restaurant yet. </div>
    {%endif%}


{% endblock %}

{% block after_body%}

{% endblock %}

{% block script %}
    <script src="/static/js/deleteFavRest.js"></script>
{% endblock %}